
    
<!DOCTYPE html>
<html>
<head>S
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Request</title>
</head>
<body>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<div style="width: 100%;background-color: aqua;">
	<h3>Bonjour ${ model.getUser().fullName() }</h3>
	<button class="btn float-md-right">Déconnexion</button>
</div>

<div class="container">
 <div class="row">
   
  <div class="col-md-8">
 
   
<h3>Liste des demandes</h3>
<table  >
            <tr>   
                <th> #</th> 
                <th>Objet</th>       
                <th>Status </th> 
                <th>Detail </th> 
			    <th>Date </th> 
             </tr> 
	   <%
		List<Reequest> requests= (ArrayList<Reequest>)((Model)request.getAttribute("model")).getRequests();
		for(int i = 0; i <requests.size();i++){  
		%>
            <tr>    
               <td>  <% out.println(i+1);%> </td>
               <td>  <%  out.println(requests.get(i).getObject());%> </td>
               <td>  <%  out.println(requests.get(i).getStatus());%>   </td>
               <td>  <%  out.println(requests.get(i).getDetail());%>  </td>
               <td>  <%  out.println(requests.get(i).getDate());%>  </td>
             </tr> 
         <%	}
   		 %>
</table>
</div>
<div class="col-md-4">

 
  <form method="post" action="request">
				<input type="text" name="type" hidden value="addrequest">
				<h3>ajouter votre demande</h3>
				<h5 style="color: red;">${error}</h5>
				<label>Objet : </label> <br /> <input type="text" name="object"
					placeholder="Objet" required><br /> <label>Détail
					:</label><br /> <input type="text" name="detail" placeholder="Detail"
					required><br />
				<button type="submit">Envoyer</button>
			</form>
		</div>
		</div>
		 <div >

</body>
</html>